<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">DUDU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-img src="assets/du-Photoroom.png"></ion-img>

  <ion-text class="ion-text-center">
    <h2 class="titulo-bienvenida">Bienvenido {{ usuarioCorreo }}</h2>
  </ion-text>

  <form (submit)="submitFormulario()">
   
    <ion-item class="ion-margin-top custom-item">
      <ion-input
        label="Ubicación Actual"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa tu ubicación actual"
        [(ngModel)]="ubicacionActual"
        name="ubicacionActual"
        required>
      </ion-input>
    </ion-item>
    <ion-text *ngIf="ubicacionActualInvalida" color="danger">Por favor, ingresa una ubicación válida</ion-text>


    <ion-item class="ion-margin-top custom-item">
      <ion-input
        label="Destino"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa tu destino"
        [(ngModel)]="destino"
        name="destino"
        required>
      </ion-input>
    </ion-item>
    <ion-text *ngIf="destinoInvalido" color="danger">Por favor, ingresa un destino válido</ion-text>

   
    <ion-item class="ion-margin-top custom-item">
      <ion-label>Selecciona el tipo de auto</ion-label>
      <ion-select placeholder="Selecciona un tipo" [(ngModel)]="tipoAuto" name="tipoAuto">
        <ion-select-option value="camioneta">Camioneta</ion-select-option>
        <ion-select-option value="sedan">Sedán</ion-select-option>
        <ion-select-option value="hatchback">Hatchback</ion-select-option>
        <ion-select-option value="suv">SUV</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text *ngIf="tipoAutoInvalido" color="danger">Por favor, selecciona un tipo de auto</ion-text>

    
    <ion-button class="ion-margin-top" expand="block" type="submit">Buscar</ion-button>
  </form>


</ion-content>
