.custom-item {
    --border-radius: 12px;  
    --ion-color-base: #a3a3a3; 
    --placeholder-color: #a3a3a3; 
    --background: rgb(62, 62, 62); 
  }
  
  .custom-item ion-input {
    --background: rgb(62, 62, 62);  
    --color: #ffffff;               
    --placeholder-color: #a3a3a3;   
  }
  
  .custom-item .native-input {
    border: 1px solid #a3a3a3;      
    border-radius: 12px;           
    padding: 10px;                  
  }

  .titulo-sesion {
    text-align: center;    /* Centrar el texto */
    font-size: 24px;       /* Tamaño de fuente más grande */
    font-weight: bold;     /* Texto en negrita */
    margin-top: 5px;      /* Separación desde arriba */
    color: #ffffff;        /* Color blanco */
  }
  
  ion-button {
    width: 50%;              
    margin: 20px auto 0 auto;          
    display: block;  
    --background: #306094; 
    --border-radius: 12px; 
    --color: #ffffff;      
  }
  